.tabBtn {
    border-bottom: 1px solid var(--dark-colors-light-gray-dark);
}
.tabBtn button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: var(--fs12) var(--fs20);
    border-bottom: 3px solid transparent;
    transition: 0.3s;
}
.tabBtn button:hover,
.tabBtn button:focus,
.tabBtn button:active {
    border-bottom: 3px solid var(--dark-colors-accent-dark);
}
.tabContent {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.tabContent.visible {
    display: block;
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}