.listCon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--fs33);
}

.more {
  font-size: var(--fs12);
  transition: color 0.3s;
}
.more:hover {
  color: var(--dark-colors-accent-dark);
  font-weight: bold;
}
.more::after {
  content: '\f138';
  font-family: 'bootstrap-icons';
  position: relative;
  transform: translateX(0);
  display: inline-block;
  transition: transform 0.3s;
}
.more:hover::after {
  transform: translateX(5px);
}
.select {
  width: 100%;
}
.list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: var(--fs20);
}

@media (max-width: 600px) {
  .list {
    grid-template-columns: repeat(auto-fill, 1fr);
  }
}
